src/main/java/itdvn/xmlparsing/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog" type="catalogType">
    <xs:annotation>
      <xs:documentation><![CDATA[DTD = Document Type Definition <!DOCTYPE catalog [<!ELEMENT catalog (book)*> любое количество книг *<!ELEMENT book (author|title|genre|price|publish_date)*><!ELEMENT author (#PCDATA)> разметка xml #PCDATA  <!ELEMENT title (#PCDATA)><!ELEMENT genre (#PCDATA)><!ELEMENT price (#PCDATA)> <!ATTLIST pricecurrency CDATA #IMPLIED>  указываем атрибут currency в первой книге <!ELEMENT publish_date (#PCDATA)>]> XSD = XML Schema definition language W3C]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="priceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="currency" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element name="author">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="&lt;Bruce>Eckel"/>
            <xs:enumeration value="Robert Lafore"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Thinking In Java 4th Edition"/>
            <xs:enumeration value="Data Structures and Algorithms"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="genre"/>
      <xs:element type="priceType" name="price"/>
      <xs:element name="publish_date">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2018-02-02"/>
            <xs:enumeration value="2018-01-01"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element type="bookType" name="book" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation><![CDATA[&lt; - <  указатели знаков(тегов)&gt; - >&amp; - &   AC&DC&apos; - '&quot; - "&nbsp; пробельный символ]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>