src/main/java/itdvn/xmlparsing/city.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="town" type="townType"/>
  <xs:complexType name="cityType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="size"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="townType">
    <xs:sequence>
      <xs:element type="xs:string" name="house"/>
      <xs:element type="cityType" name="city"/>
      <xs:element type="xs:string" name="street"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>